<div class="row text-center">
    <div class="col-md-8 col-md-offset-2">
        <h2>About Us</h2>
        <p>Welcome to Ultimate Sim Sports, we are a community and web game for sports simulation.</p>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Founders</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <div class="caption text-center">
                                <%= image_tag "founder_m.jpg", class: "user-show-avatar img-circle" %>
                                <h2>Michael</h2>
                                <p>I am a teacher by profession and for my degrees, one day I had an idea after playing a game that I really enjoyed to make it available on the internet. That is when I approached Andres for the idea of this game. Now a few years later, a lot of learning(complete coder newb). We have a working prototype of the framework for the game. We will be making improvements over the next year to add in one sport at a time and will include a closed Alpha and semi open Beta of each game that we are going to offer. We are attempting to make this as close to free as possible however it does cost to keep a server running and we are modest people living regular lives and wilol probably need to ofset some costs for this game.</p>
                            </div>
                        </div>
                    </div>
              </div>
            </div> 
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <div class="caption text-center">
                                <%= image_tag "", class: "user-show-avatar img-circle" %>
                                <h2>Andres</h2>
                                <p>Will be updated soon!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
